@font-face {
  font-family: 'JetBrains Mono Nerd Font';
  src: url('../fonts/JetBrainsMono/JetBrainsMonoNerdFont-Regular.ttf') format('truetype'),
  /* Add additional font weights and styles if needed */
}

* {
  font-family: 'JetBrains Mono Nerd Font';
  font-size: 14px;
  color: #cdd6f4;

  background-color: rgba(30, 30, 46, 1.0);
}

:focus {
  outline: 0;
}

input[type="file"]::file-selector-button {
  color: #cdd6f4;
  background-color: #313244;
  border-radius: 16px;
  border-color: #11111b;
  border-style: solid;
  /* margin: 10px; */
}

button {
  border-radius: 16px;
  border-color: #11111b;
  border-style: solid;
  margin: 10px;
}

/* set everyone's background to transparent */
h1, h2, h3, h4, h5, h6, bold, strong, i, em, blockquote, ul, ol {
  background-color: transparent;
}


bold, strong {
  color: #a6e3a1;
  font-weight: 800;
}

h1 {
  color: #a6e3a1;
  font-weight: 800;
  font-size: 32px;
  margin: 0px;
}

h2 {
  color: #a6e3a1;
  font-weight: 800;
  font-size: 24px;
  margin: 0px;
}

h3 {
  color: #a6e3a1;
  font-weight: 800;
  font-size: 19px;
  margin: 0px;
}

h4 {
  color: #a6e3a1;
  font-weight: 800;
  font-size: 16px;
  margin: 0px;
}

h5 {
  color: #a6e3a1;
  font-weight: 800;
  font-size: 13px;
  margin: 0px;
}

h6 {
  color: #a6e3a1;
  font-weight: 800;
  font-size: 11px;
  margin: 0px;
}

blockquote {
  border-left: 4px solid #CCC;
  padding-left: 8px;
}

i, em {
  font-weight: +50;
}

p[class="textzone"], p[class="textdisplay"] {
  height: auto;
  overflow: auto;
  border-radius: 10x;
  background-color: rgba(35, 35, 52, 1.0);
  margin: 2px;
}

p[class="textzone"]:hover, p[class="textdisplay"]:hover {
  background-color: rgba(40, 40, 60, 1.0)
}

p[class="textzone"]:empty, p[class="textdisplay"]:empty {
  min-height: 18px;
}
