@font-face {
  font-family: 'JetBrains Mono Nerd Font';
  src: url('../fonts/JetBrainsMono/JetBrainsMonoNerdFont-Regular.ttf') format('truetype'),
  /* Add additional font weights and styles if needed */
}

* {
  font-family: 'JetBrains Mono Nerd Font';
  font-size: 14px;
  color: #cdd6f4;

  background-color: rgba(30, 30, 46, 1.0);
  /* user-css: https://mshaugh.github.io/nerdfont-webfonts/build/firacode-nerd-font.css; */
}

:focus {
  outline: 0;
}

input[type="file"] {
  display: none;
}

button {
  border-radius: 16px;
  border-color: rgba(0, 0, 0, 1.0) rgba(0, 0, 0, 1.0);
  border-style: solid;
  margin: 10px;
}

/* textarea { */
/*   border: 0px; */
/*   width: 100%; */
/*   height: auto; */
/*   overflow-y: visible; */
/*   resize: none; */
/* } */

p[contenteditable="true"] {
  height: auto;
  overflow: auto;
  border-radius: 10x;
  background-color: rgba(35, 35, 52, 1.0);
  margin: 2px;
}

p[contenteditable="true"]:hover {
  background-color: rgba(40, 40, 60, 1.0)
}

